body {
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

nav {
  position: relative;
}

/* SCROLLBAR */
/* width */
#visualizer::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#visualizer::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
#visualizer::-webkit-scrollbar-thumb {
  background: #FFF;
}

/* Handle on hover */
#visualizer::-webkit-scrollbar-thumb:hover {
  background: #D8D8D8;
}

.buttonGui {
  position: absolute;
  background-color: #000;
  color: #FFF;
  font-family: 'Redaction';
  font-size: 1.5rem;
  border: 1px solid #FFF;
  border-color: #FFF;
  z-index: 8;
  padding: 1rem 1.2rem 0.8rem 1.2rem;
}

.buttonGui:hover {
  background-color: #FFF;
  color: #000;
}

#zoomIn {
  bottom: 80px;
  right: 15px;
}

#zoomOut {
  bottom: 10px;
  right: 15px;
}

#resetView {
  right: 80px;
  top: 15px;
}

#info {
  right: 15px;
  top: 15px;
}

#network-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  /* outline: 1px solid white; */
  margin: 0 auto;
  height: 92vh;
  position: relative;
  left: 0;
  right: 0;
  background: #000;
  overflow: hidden;
}

#wrapper-side {
  display: grid;
  /* grid-template-rows: 3fr 1fr !important; */
  grid-auto-rows: 1fr;
  left: 0;
  height: 100%;
  border-right: 1px solid white;
  z-index: 10;
  overflow: hidden;
}

#network-graph {
  position: relative;
  top: 0%;
  bottom: 0%;
  right: 0;
  background: #000;
}

#wrapper-video {
  align-self: center;
  justify-self: center;
  place-self: center;
  width: 100%;
  margin-top: 15px;
}

#visualizer {
  position: relative;
  padding: 5%;
  overflow-y: scroll;
}

#nameLabels {
  font-size: 1.6vmax;
}

#videosNumber {
  font-family: 'GT America', sans-serif;
  font-weight: 400;
  font-size: 1vmax;
}

#hashtagsLabel {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: start;
  font-family: 'GT America', sans-serif;
  font-weight: 400;
  max-width: 100%;
  margin-left: -40px;
  white-space: nowrap;
}

#hashtagsLabel li {
  border: 1px solid #FFF;
  padding: 0.25rem 0.45rem 0.45rem 0.45rem;
  margin: 0.3em;
  display: inline;
}

#cohashTitle {
  font-family: 'GT America', sans-serif;
  font-weight: 400;
  font-size: 1vmax;
}

/* SEARCH BAR */

form {
  position: absolute;
  z-index: 100;
  margin-left: 15px;
  top: 15px;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

input {
  font-family: "Redaction";
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 1rem;
  font-size: 1.2rem;
}

input[type=text] {
  font-family: "GT America";
  background-color: #000;
  color: #FFF;
  /* width: 100%; */
  border: 1px solid #fff;
}

input[type=submit] {
  background-color: #fff;
  color: #000;
  border-color: #fff;
  font-size: 1.5rem;
  padding: 1rem 1.2rem 0.8rem 1.2rem;

}

input:focus {
  outline: none;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  font-family: "GT America";
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  color: #000;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: #fff !important;
  color: #ffffff;
}


/*--------
  Responsive
  ----------*/
@media screen and (max-width: 600px) {
  #network-container {
    grid-column: auto;
    grid-template-rows: minmax(20px, 40%) 1fr;
    grid-template-columns: auto;
  }

  #wrapper-side {
    border-bottom: 1px solid white;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }

  #visualizer {
    border-left: 1px solid white;
    border-right: 1px solid white;
  }
}


/*--------
  Popup
  ----------*/
.lightbox {
  position: absolute;
  z-index: 9;
  height: 100%;
  width: 100%;
  align-content: center;
  display: grid;
  justify-items: center;
}

.toolbarLB {
  justify-self: end;
  padding: 3px;
}

.closeLB {
  cursor: pointer;
  background-color: #000;
  color: #FFF;
  font-family: 'Redaction 70';
  font-weight: 400;
  font-size: 1.5rem;
  border: 1px solid #FFF;
  border-color: #FFF;
  z-index: 100;
  padding: 1rem 1.2rem 0.8rem 1.2rem;
}

.lightbox .iframeContainer {
  vertical-align: middle;
  background: #000;
  border: 1px solid #FFF;
}

.iframeContainer {
  display: grid;
  width: 50vw;
  padding: 3em;
  aspect-ratio: 16/9;
  grid-row-gap: 1em;
  align-items: center;
}

.popup-title {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 2em;
}

.popup-main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 2em;
  font-family: 'GT America';
}

.popup-main>p {
  font-family: 'GT America';
}

.popup-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: start;
  justify-items: center;
  grid-gap: 2em;
  text-align-last: center;
}

.popup-footer p {
  font-family: 'GT America';
  text-align: center;
}

.popup-footer img {
  width: 30%;
}

#legend {
  padding: 5%;
  border-left: 1px solid white;
  justify-items: center;
  align-items: center;
}

#legend ul {
  list-style-type: none;
  font-family: "GT America";
}

#legend li:first-child {
  display: block;
  background-image: url("../assets/img/legend/dot.svg");
  background-repeat: no-repeat;
  background-position: left center;
  padding: 15px 40px;
}

#legend li:last-child {
  display: block;
  background-image: url("../assets/img/legend/square.svg");
  background-repeat: no-repeat;
  background-position: left center;
  padding: 0 34px 5px 34px;
  margin-left: 6px;
}

.lightbox.closed {
  display: none;
}
