/*--------
Font
----------*/
@font-face {
  font-family: 'GT America';
  src: url('../assets/font/GT-AMERICA-REGULAR.woff');
}

@font-face {
  font-family: 'Redaction';
  src: url('../assets/font/Redaction-Regular.woff');
}

@font-face {
  font-family: 'Redaction 10';
  src: url('../assets/font/Redaction_10-Regular.woff');
}

@font-face {
  font-family: 'Redaction 50';
  src: url('../assets/font/Redaction_50-Regular.woff');
}

/*--------
Global
----------*/
html {
  color: white;
  background-color: black;
  overflow-x: hidden;
  font-weight: 400;
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
  cursor: crosshair;
  font-family: 'Redaction', serif;
}

::selection {
  color: black;
  background: white;
}

a {
  color: white;
  text-decoration: none;
  font-family: 'Redaction', serif;
}

a:visited {
  color: white;
  text-decoration: none;
}

body {
  margin: 0;
}

img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}

img:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  filter: none;
}

h1 {
  font-family: 'Redaction', serif;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

p {
  font-family: 'Redaction', serif;
  font-weight: 400;
}

video {
  width: 100%;
  object-fit: cover;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}

video:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  filter: none;
  filter: none;
}

.redaction:hover {
  font-family: 'Redaction 50', serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.hide {
    display: none;
}

/*--------
Header
----------*/
nav {
  width: 100%;
  height: 8vh;
  position: fixed;
  z-index: 10 !important;
  border-bottom: 1px solid white;
  font-size: 2rem;
  text-transform: uppercase;
}

.active {
  background-color: black;
}

.header {
  height: 100%;
}

nav .header div {
  text-align: center;
  position: relative;
}

.home-btn {
  display: grid;
  grid-column: 1;
  border-right: 1px solid white;
}


.jumpto-btn {
  display: grid;
  grid-column: 8;
  border-left: 1px solid white;
}

nav .header .jumpto-btn .dropdown-content {
  display: none;
}
nav .header .jumpto-btn:hover .dropdown-content {
  display: block;
  position: absolute;
  width: 100%;
  left: -1px;
  margin-top: 8vh;
  background-color: #000000;
  border: 1px solid #ffffff;
  z-index: 10;
    text-align: center;
}
nav .header .jumpto-btn:hover .dropdown-content a {
  display: grid;
  text-align: center;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  height: 8vh;
  align-items: center;
  justify-content: center;
}


.archive-btn {
  display: grid;
  grid-column: 9;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

.about-btn {
  display: grid;
  grid-column: 10;
}

.btn {
  display: grid;
  place-items: center;
}

/*--------
Index
----------*/
.introduction {
  min-height: 100vh;
  width: 100%;
  place-items: center;
  position: sticky;
  top: 0;
}

.introduction-content {
  grid-column: 2 / span 8;

}

.introduction-text {
  font-size: 2.8rem;
  text-align: justify;
  text-align-last: center;
}

.scroll-down {
  grid-column: 2 / span 8;
  align-self: end;
  place-items: center;
  position: absolute;
  margin-bottom: 2%;
  z-index: 2;
}

.scroll-down p{
  font-family: 'GT America', sans-serif;
  font-feature-settings: 'ss03';
  text-align: center;
  font-size: 1.2rem;
  margin: 0;
}

.one {
  background-image: #toggleVolume#toggleVolume#toggleVolume;
  background-size: cover;
  grid-template-areas: "overlap";
}

.two {
  background-image: url('../assets/img/home/1bitmap.webp');
  background-size: cover;
}

.go-to-rabbit {
  cursor: pointer;
  display: grid;
  grid-column: 2 / span 4;
  grid-template-areas: "overlap";
  border: 1px solid white;
  width: 85%;
  aspect-ratio: 1;
  font-size: 2.8rem;
  background-image: url('../assets/videos/buttons/followrabbit.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.keywords {
  width: 100%;
  height: 100%;
  grid-area: overlap;
  z-index: 1;
  display: none;
}

.rabbit {
  display: grid;
  grid-area: overlap;
  text-align: center;
  place-items: center;
}

.go-to-rabbit:hover .keywords {
  display: grid;
}

.keyword {
  display: grid;
  border-bottom: 1px solid white;
  background-color: black;
  justify-content: center;
  place-items: center;
}

.keyword:hover {
  font-family: 'Redaction 50', serif;
}

.go-to-archive {
  cursor: pointer;
  display: grid;
  text-align: center;
  place-items: center;
  grid-column: 6 / span 4;
  border: 1px solid white;
  width: 85%;
  aspect-ratio: 1;
  font-size: 2.8rem;
  background-image: url('../assets/videos/buttons/gotoarchive.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.go-to-archive:hover>p {
  font-family: 'Redaction 50', serif;
}

/*--Tooltip--*/
.tooltip {
  position: relative;
  z-index: 10;
}

.tooltip:before,
.tooltip:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.tooltip:before {
  background: white;
  border: 1px solid black;
  color: black;
  content: attr(data-title);
  font-size: 1.5rem;
  max-width: 40vw;
  padding: 30px;
}

.tooltip.fade:after,
.tooltip.fade:before {
  transform: translate3d(0, -10px, 0);
  transition: all .15s ease-in-out;
}

.tooltip.fade:hover:after,
.tooltip.fade:hover:before {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

/*--------
Keywords
----------*/
.title {
  min-height: 50vh;
  width: 100%;
  place-items: center;
  grid-column: 1 / span 2;
  font-size: 5rem;
  text-align: justify;
  text-align-last: center;
}

.title-content {
  grid-column: 2 / span 8;
  text-align: justify;
  text-align-last: center;
  font-size: 5rem;
}

.subtitle {
  font-size: 2.3rem;
  text-align: justify;
  text-align-last: center;
}

.archive-svg {
  grid-column: 1/span 3;
  border: 1px solid white;
  justify-self: center;
  aspect-ratio: 3/2;
  width: 75%;
  background-color: black;
  z-index: 5;
  background-image: url('../assets/videos/buttons/gotoarchive.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.selector {
  width: 100%;
  margin-bottom: 10%;
}

#selector-wrapper {
  display: grid;
  grid-row: 3 /span 1;
  grid-column: 1 /span 2;
}

.selector-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  text-align: center;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}

.selector-btn {
  font-size: 2.8rem;
  padding: 30px;
  border: 1px solid white;
}

/*- Video--*/
#toggleVolume {
  position: fixed;
  background-color: #000;
  color: #FFF;
  border: 1px solid #FFF;
  border-color: #FFF;
  z-index: 100;
  padding: 25px;
  right: 15px;
  bottom: 15px;
  width: 1.2em;
  aspect-ratio: 1;
  background-image: url('../assets/img/oth/sound-01.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#toggleVolume:hover {
  background-image: url('../assets/img/oth/sound-02.svg');
}

#toggleVolume svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#toggleVolume svg line {
    stroke: rgb(255,255,255);
    stroke-width: 1;
}

#container {
  display: grid;
  grid-template-areas: "overlap";
  width: 100%;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto;
  grid-auto-rows: min-content;
  grid-column-gap: 2rem;
  grid-row-gap: 8rem;
  grid-area: overlap;
  width: 100%;
  z-index: 5;
  grid-row: 2/span 1;
  grid-column: 1/span 2;
}

.videos-container {
  overflow-y: hidden;
  overflow-x: hidden;
  padding-bottom: 3px;
  padding-top: 3px;
}

#canvasLines {
  display: grid;
  grid-area: overlap;
  z-index: 0;
  pointer-events:none;
}

.content {
  display: grid;
  grid-area: overlap;
  /* grid-template-columns: 1fr; */
  grid-auto-flow: row;

}

.wrapper {
  height: fit-content;
  z-index: 2;
  padding-bottom: -5px;
/*-  border: 1px solid white;  --*/
  outline: 40px;
  outline-color: transparent;
}


.wrapper p {
  /*-  padding-left: 1vmax;
  padding-right: 1vmax;--*/
  text-align: left;
  opacity: 1;
  font-family: 'GT America', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
}

/*-
.wrapper:hover > p{
  opacity: 1;
}
  --*/


.wrapper video {
  width: 100% !important;
  height: auto !important;
  display: block;
  outline: 1px solid white;
  justify-self: center;
  align-self: start;
}

.wrapper:hover video {
  outline: none;
  width: 100% !important;
  height: auto !important;
  display: block;
  outline: 1px solid white;
  justify-self: center;
  align-self: start;
}

.wrapper>video::-webkit-media-controls {
  display: none;
}

.quote {
  font-size: 1.7rem;
  padding: 25px;
  border: 1px solid white;
  background-color: black;
  text-align: center;
}

.hash {
  padding: 1vmax;
  border: 1px solid white;
  background-color: black;
  font-family: 'GT America', sans-serif;
}

.hash p{
  margin: 0;
  font-size: 2.2rem;
  font-weight: 400;
  text-align: center;
  font-family: 'GT America', sans-serif;
}

.quote p {
  margin: 0;
}

#wrapper-mask-1 {
  grid-column: 4 / span 4;
  grid-row: 1;
  justify-self: center;
  align-self: start;
}

#hashtag-mask-1 {
  grid-column: 7/span 2;
  grid-row: 2;
  justify-self: end;
  align-self: start;
}

#quote-mask-A {
  grid-column: 4 / span 3;
  grid-row: 2;
  justify-self: end;
  align-self: end;
  z-index: 6;
}
#wrapper-mask-2 {
  grid-column: 2 / span 3;
  grid-row: 2;
  justify-self: center;
  align-self: end;
  margin-bottom: 10%;
}

#quote-mask-B {
  grid-column: 6 / span 3;
  grid-row: 3;
  justify-self: end;
  align-self: end;
  z-index: 6;
}
#wrapper-mask-3 {
  grid-column: 8 / span 2;
  grid-row: 3;
  justify-self: center;
  align-self: end;
  margin-bottom: 10%;
}

#hashtag-mask-2 {
  grid-column: 2/span 2;
  grid-row: 3;
  justify-self: end;
  align-self: center;
}

#wrapper-mask-4 {
  grid-column: 3 / span 3;
  grid-row: 4;
  justify-self: center;
  align-self: center;
}

#hashtag-mask-3 {
  grid-column: 5/span 1;
  grid-row: 5;
  justify-self: end;
  align-self: start;
}

#quote-mask-C {
  grid-column: 8 / span 2;
  grid-row: 5;
  justify-self: end;
  align-self: center;
  z-index: 6;
}
#wrapper-mask-5 {
  grid-column: 7 / span 2;
  grid-row: 5;
  justify-self: center;
  align-self: start;
  margin-bottom: 70%;
}

#quote-mask-D {
  grid-column: 5 / span 2;
  grid-row: 5;
  justify-self: center;
  align-self: center;
  z-index: 6;
  margin-top: 100%;
}
#wrapper-mask-6 {
  grid-column: 2 / span 4;
  grid-row: 5;
  justify-self: center;
  align-self: center;
}

#hashtag-mask-4 {
  grid-column: 8/span 2;
  grid-row: 5;
  justify-self: end;
  align-self: end;
  margin-bottom: 20%;
}

#quote-mask-3 {
  grid-column: 2 / span 3;
  grid-row: 6;
  justify-self: center;
  align-self: center;
  z-index: 6;
}

#hashtag-mask-5 {
  grid-column: 2/span 2;
  grid-row: 6;
  justify-self: end;
  align-self: start;
}

#quote-mask-E {
  grid-column: 5 / span 2;
  grid-row: 6;
  justify-self: center;
  align-self: center;
  z-index: 6;
}
#wrapper-mask-7 {
  grid-column: 6 / span 4;
  grid-row: 6;
  justify-self: center;
  align-self: end;
}

#hashtag-mask-6 {
  grid-column: 7/span 2;
  grid-row: 7;
  justify-self: end;
  align-self: start;
}


#hashtag-mask-7 {
  grid-column: 7/span 2;
  grid-row: 7;
  justify-self: center;
  align-self: center;
}

#quote-mask-F {
  grid-column: 3 / span 2;
  grid-row: 7;
  justify-self: center;
  align-self: start;
  z-index: 6;
  margin-top: 30%;
}
#wrapper-mask-8 {
  grid-column: 2 / span 2;
  grid-row: 7;
  justify-self: center;
  align-self: start;
}

#quote-mask-G {
  grid-column: 4 / span 2;
  grid-row: 7;
  justify-self: end;
  align-self: end;
  z-index: 6;
}
#wrapper-mask-9 {
  grid-column: 5 / span 2;
  grid-row: 7;
  justify-self: center;
  align-self: center;
  margin-top: 30%;
  margin-bottom: 20%;
}

#quote-mask-H {
  grid-column: 7 / span 2;
  grid-row: 7;
  justify-self: end;
  align-self: end;
  z-index: 6;
}
#wrapper-mask-10 {
  grid-column: 8 / span 2;
  grid-row: 7;
  justify-self: center;
  align-self: end;
  margin-bottom: 10%;
}

#quote-mask-I {
  grid-column: 6 / span 3;
  grid-row: 8;
  justify-self: center;
  align-self: start;
  margin-top: 20%;
  z-index: 6;
}

#hashtag-mask-8 {
  grid-column: 6/span 2;
  grid-row: 8;
  justify-self: start;
  align-self: end;
  margin-bottom: 50%;
}

#wrapper-mask-11 {
  grid-column: 3 / span 4;
  grid-row: 8;
  justify-self: center;
  align-self: start;
  margin-bottom: 50%;
}

#wrapper-mask-12 {
  grid-column: 8 / span 2;
  grid-row: 8;
  justify-self: center;
  align-self: center;
  margin-top:20%;
}

#hashtag-mask-9 {
  grid-column: 5/span 2;
  grid-row: 8;
  justify-self: start;
  align-self: end;
}

#wrapper-mask-13 {
  grid-column: 2 / span 2;
  grid-row: 8;
  justify-self: center;
  align-self: end;
}

#quote-mask-J {
  grid-column: 6 / span 2;
  grid-row: 9;
  justify-self: center;
  align-self: end;
  z-index: 6;
}
#wrapper-mask-14 {
  grid-column: 7 / span 4;
  grid-row: 9;
  justify-self: center;
  align-self: center;
  width: 80%;
}

#wrapper-mask-15 {
  grid-column: 2 / span 4;
  grid-row: 9;
  justify-self: center;
  align-self: end;
  margin-bottom: 10%;
}

#quote-mask-K {
  grid-column: 3 / span 3;
  grid-row: 10;
  justify-self: center;
  align-self:  center;
  z-index: 6;
  margin-top: 20%;
}
#wrapper-mask-16 {
  grid-column: 2 / span 3;
  grid-row: 10;
  justify-self: center;
  align-self: start;
}

#quote-mask-L {
  grid-column: 5 / span 2;
  grid-row: 10;
  justify-self: center;
  align-self: end;
  z-index: 6;
}
#wrapper-mask-17 {
  grid-column: 6 / span 4;
  grid-row: 10;
  justify-self: center;
  align-self: end;
  margin-bottom: 10%;
}

#hashtag-mask-10 {
  grid-column: 2/span 2;
  grid-row: 10;
  justify-self: start;
  align-self: end;
}

#wrapper-mask-18 {
  grid-column: 7 / span 3;
  grid-row: 11;
  justify-self: center;
  align-self: start;
  margin-bottom: 30%;
}

#quote-mask-M {
  grid-column: 2 / span 2;
  grid-row: 11;
  justify-self: center;
  align-self:  end;
  z-index: 6;
}
#wrapper-mask-19 {
  grid-column: 3 / span 3;
  grid-row: 11;
  justify-self: center;
  align-self: end;
  margin-bottom: 10%;
}

#quote-mask-N {
  grid-column: 7 / span 2;
  grid-row: 12;
  justify-self: center;
  align-self:  end;
  z-index: 6;
  margin-bottom: 10%;
}
#wrapper-mask-20 {
  grid-column: 8 / span 2;
  grid-row: 12;
  justify-self: center;
  align-self: start;
  width: 90%;
}

#quote-mask-O {
  grid-column: 5 / span 2;
  grid-row: 12;
  justify-self: center;
  align-self:  start;
  z-index: 6;
}
#wrapper-mask-21 {
  grid-column: 2 / span 4;
  grid-row: 12;
  justify-self: center;
  align-self: start;
  margin-top: 10%;
}

#hashtag-mask-11 {
  grid-column: 4/span 2;
  grid-row: 13;
  justify-self: center;
  align-self: start;
}


#wrapper-mask-22 {
  grid-column: 5 / span 3;
  grid-row: 13;
  justify-self: center;
  align-self: start;
}

#quote-mask-P {
  grid-column: 7 / span 2;
  grid-row: 13;
  justify-self: center;
  align-self:  end;
  z-index: 6;
}
#wrapper-mask-23 {
  grid-column: 8 / span 2;
  grid-row: 13;
  justify-self: center;
  align-self: end;
  width: 80%;
  margin-bottom: 10%;
}


#quote-mask-Q {
  grid-column: 3/ span 2;
  grid-row: 13;
  justify-self: center;
  align-self: end;
  z-index: 6;
}
#wrapper-mask-24 {
  grid-column: 2 / span 2;
  grid-row: 13;
  justify-self: center;
  align-self: start;
  margin-bottom: 50%;
  margin-top: 20%;
}

#quote-mask-R {
  grid-column: 5 / span 1;
  grid-row: 13;
  justify-self: center;
  align-self: center;
  z-index: 6;
}
#wrapper-mask-25 {
  grid-column: 5 / span 3;
  grid-row: 13;
  justify-self: center;
  align-self: center;
  width: 60%;
}

#hashtag-mask-12 {
  grid-column: 2/span 1;
  grid-row: 14;
  justify-self: center;
  align-self: end;
}

#hashtag-mask-13 {

  grid-column: 5/span 2;
  grid-row: 13;
  justify-self: center;
  align-self: end;
  margin-bottom: 10%;
}

/*--------
About
----------*/
.space {
  height: 15vh;
}

.about-box {
  display: grid;
  justify-items: center;
  align-items: center;
}

.tabs {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

.tab {
  cursor: pointer;
  padding: 10px 20px;
  display: inline-grid;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  font-size: 2rem;
  z-index: 3;
}

.panels {
  min-height: auto;
  width: -webkit-fill-available;
  overflow: hidden;
  border-top: 1px solid white;
  padding-top: 10vh;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 1rem;
}

.panel {
  display: none;
  font-size: 2.8rem;
  grid-column: 2 / span 8;
  align-items: center;
  text-align: justify;
  text-align-last: center;
}

.panel-title {
  font-size: 5rem;
  font-weight: 400;
}

.team {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2rem;
  justify-content: center;
  margin-top: 5%;
}

.person {
  align-items: center;
}

.person-img {
  aspect-ratio: 1;
  border: 1px solid #ffffff;
  width: 100%;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}

.person-img:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  filter: none;
  filter: none;
}

.person-name {
  text-align: center;
}

#person-1 {
  grid-column: 1/span 2;
  grid-row: 1;
}

#person-img-1 {
  background-image: url('../assets/img/about/chung.jpg');
  background-size: cover;
}

#person-2 {
  grid-column: 3/span 2;
  grid-row: 1;
}

#person-img-2 {
  background-image: url('../assets/img/about/chung.jpg');
  background-size: cover;
}

#person-3 {
  grid-column: 5/span 2;
  grid-row: 1;
}

#person-img-3 {
  background-image: url('../assets/img/about/chung.jpg');
  background-size: cover;
}

#person-4 {
  grid-column: 7/span 2;
  grid-row: 1;
}

#person-img-4 {
  background-image: url('../assets/img/about/chung.jpg');
  background-size: cover;
}

#person-5 {
  grid-column: 2/span 2;
  grid-row: 2;
}

#person-img-5 {
  background-image: url('../assets/img/about/chung.jpg');
  background-size: cover;
}

#person-6 {
  grid-column: 4/span 2;
  grid-row: 2;
}

#person-img-6 {
  background-image: url('../assets/img/about/chung.jpg');
  background-size: cover;
}

#person-7 {
  grid-column: 6/span 2;
  grid-row: 2;
}

#person-img-7 {
  background-image: url('../assets/img/about/chung.jpg');
  background-size: cover;
}

.radio {
  display: none;
}

#one:checked~.panels #one-panel,
#two:checked~.panels #two-panel,
#three:checked~.panels #three-panel,
#four:checked~.panels #four-panel {
  display: block
}

#one:checked~.tabs #one-tab,
#two:checked~.tabs #two-tab,
#three:checked~.tabs #three-tab,
#four:checked~.tabs #four-tab {
  border-bottom: 2px solid black;
  margin-bottom: -1px;
}

/*--------
Cover
----------*/
.cover {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(9, 1fr);
  width: 100%;
  height: 100vh;
  grid-area: overlap;
}

.cover-title {
  z-index: 15;
  background-color: black;
  width: 100%;
  text-align: center;
  align-self: center;
  justify-self: stretch;

}

#cover-title-1 {
  grid-column: 5/span 7;
  grid-row: 4/span 1;
}

#cover-title-2 {
  grid-column: 6/span 5;
  grid-row: 5/span 1;
}

.cover-title h1 {
  font-size: 4.1vw;
}

.cover-btn {
  z-index: 15;
  grid-column: 8;
  grid-row: 6;
  background-color: black;
  width: 100%;
  text-align: center;
  justify-self: center;
  align-self: center;
  grid-template-areas: "overlap";
}

.cover-btn a {
  font-size: 1.8vw;
  grid-area: overlap;
}

#cover-item1 {
  background-image: url("../assets/img/cover/thumb002.webp");
  background-size: cover;
  background-position: center;
}

#cover-item2 {
  background-image: url("../assets/img/cover/thumb004.webp");
  background-size: cover;
  background-position: center;
}

#cover-item3 {
  background-image: url("../assets/img/cover/thumb005.webp");
  background-size: cover;
  background-position: center;
}

#cover-item4 {
  background-image: url("../assets/img/cover/thumb007.webp");
  background-size: cover;
  background-position: center;
}

#cover-item5 {
  background-image: url("../assets/img/cover/thumb009.webp");
  background-size: cover;
  background-position: center;
}

#cover-item6 {
  background-image: url("../assets/img/cover/thumb011.webp");
  background-size: cover;
  background-position: center;
}

#cover-item7 {
  background-image: url("../assets/img/cover/thumb016.webp");
  background-size: cover;
  background-position: center;
}

#cover-item8 {
  background-image: url("../assets/img/cover/thumb017.webp");
  background-size: cover;
  background-position: center;
}

#cover-item9 {
  background-image: url("../assets/img/cover/thumb020.webp");
  background-size: cover;
  background-position: center;
}

#cover-item10 {
  background-image: url("../assets/img/cover/thumb023.webp");
  background-size: cover;
  background-position: center;
}

#cover-item10 {
  background-image: url("../assets/img/cover/thumb023.webp");
  background-size: cover;
  background-position: center;
}

#cover-item11 {
  background-image: url("../assets/img/cover/thumb026.webp");
  background-size: cover;
  background-position: center;
}

#cover-item12 {
  background-image: url("../assets/img/cover/thumb027.webp");
  background-size: cover;
  background-position: center;
}

#cover-item13 {
  background-image: url("../assets/img/cover/thumb028.webp");
  background-size: cover;
  background-position: center;
}

#cover-item14 {
  background-image: url("../assets/img/cover/thumb029.webp");
  background-size: cover;
  background-position: center;
}

#cover-item15 {
  background-image: url("../assets/img/cover/thumb030.webp");
  background-size: cover;
  background-position: center;
}

#cover-item16 {
  background-image: url("../assets/img/cover/thumb031.webp");
  background-size: cover;
  background-position: center;
}

#cover-item17 {
  background-image: url("../assets/img/cover/thumb032.webp");
  background-size: cover;
  background-position: center;
}

#cover-item18 {
  background-image: url("../assets/img/cover/thumb036.webp");
  background-size: cover;
  background-position: center;
}

#cover-item19 {
  background-image: url("../assets/img/cover/thumb037.webp");
  background-size: cover;
  background-position: center;
}

#cover-item20 {
  background-image: url("../assets/img/cover/thumb040.webp");
  background-size: cover;
  background-position: center;
}

#cover-item21 {
  background-image: url("../assets/img/cover/thumb050.webp");
  background-size: cover;
  background-position: center;
}

#cover-item22 {
  background-image: url("../assets/img/cover/thumb052.webp");
  background-size: cover;
  background-position: center;
}

#cover-item23 {
  background-image: url("../assets/img/cover/thumb056.webp");
  background-size: cover;
  background-position: center;
}

#cover-item24 {
  background-image: url("../assets/img/cover/thumb059.webp");
  background-size: cover;
  background-position: center;
}

#cover-item25 {
  background-image: url("../assets/img/cover/thumb061.webp");
  background-size: cover;
  background-position: center;
}

#cover-item26 {
  background-image: url("../assets/img/cover/thumb062.webp");
  background-size: cover;
  background-position: center;
}

#cover-item27 {
  background-image: url("../assets/img/cover/thumb068.webp");
  background-size: cover;
  background-position: center;
}

#cover-item28 {
  background-image: url("../assets/img/cover/thumb077.webp");
  background-size: cover;
  background-position: center;
}

#cover-item29 {
  background-image: url("../assets/img/cover/thumb079.webp");
  background-size: cover;
  background-position: center;
}

#cover-item30 {
  background-image: url("../assets/img/cover/thumb085.webp");
  background-size: cover;
  background-position: center;
}

#cover-item31 {
  background-image: url("../assets/img/cover/thumb100.webp");
  background-size: cover;
  background-position: center;
}

#cover-item32 {
  background-image: url("../assets/img/cover/thumb124.webp");
  background-size: cover;
  background-position: center;
}

#cover-item33 {
  background-image: url("../assets/img/cover/thumb126.webp");
  background-size: cover;
  background-position: center;
}

#cover-item34 {
  background-image: url("../assets/img/cover/thumb130.webp");
  background-size: cover;
  background-position: center;
}

#cover-item35 {
  background-image: url("../assets/img/cover/thumb131.webp");
  background-size: cover;
  background-position: center;
}

#cover-item36 {
  background-image: url("../assets/img/cover/thumb1114.webp");
  background-size: cover;
  background-position: center;
}

#cover-item37 {
  background-image: url("../assets/img/cover/thumb138.webp");
  background-size: cover;
  background-position: center;
}

#cover-item38 {
  background-image: url("../assets/img/cover/thumb139.webp");
  background-size: cover;
  background-position: center;
}

#cover-item39 {
  background-image: url("../assets/img/cover/thumb145.webp");
  background-size: cover;
  background-position: center;
}

#cover-item40 {
  background-image: url("../assets/img/cover/thumb150.webp");
  background-size: cover;
  background-position: center;
}

#cover-item41 {
  background-image: url("../assets/img/cover/thumb152.webp");
  background-size: cover;
  background-position: center;
}

#cover-item42 {
  background-image: url("../assets/img/cover/thumb154.webp");
  background-size: cover;
  background-position: center;
}

#cover-item43 {
  background-image: url("../assets/img/cover/thumb155.webp");
  background-size: cover;
  background-position: center;
}

#cover-item44 {
  background-image: url("../assets/img/cover/thumb159.webp");
  background-size: cover;
  background-position: center;
}

#cover-item45 {
  background-image: url("../assets/img/cover/thumb163.webp");
  background-size: cover;
  background-position: center;
}

#cover-item46 {
  background-image: url("../assets/img/cover/thumb170.webp");
  background-size: cover;
  background-position: center;
}

#cover-item47 {
  background-image: url("../assets/img/cover/thumb171.webp");
  background-size: cover;
  background-position: center;
}

#cover-item48 {
  background-image: url("../assets/img/cover/thumb172.webp");
  background-size: cover;
  background-position: center;
}

#cover-item49 {
  background-image: url("../assets/img/cover/thumb174.webp");
  background-size: cover;
  background-position: center;
}

#cover-item50 {
  background-image: url("../assets/img/cover/thumb183.webp");
  background-size: cover;
  background-position: center;
}

#cover-item51 {
  background-image: url("../assets/img/cover/thumb184.webp");
  background-size: cover;
  background-position: center;
}

#cover-item52 {
  background-image: url("../assets/img/cover/thumb187.webp");
  background-size: cover;
  background-position: center;
}

#cover-item53 {
  background-image: url("../assets/img/cover/thumb204.webp");
  background-size: cover;
  background-position: center;
}

#cover-item54 {
  background-image: url("../assets/img/cover/thumb221.webp");
  background-size: cover;
  background-position: center;
}

#cover-item55 {
  background-image: url("../assets/img/cover/thumb226.webp");
  background-size: cover;
  background-position: center;
}

#cover-item56 {
  background-image: url("../assets/img/cover/thumb235.webp");
  background-size: cover;
  background-position: center;
}

#cover-item57 {
  background-image: url("../assets/img/cover/thumb238.webp");
  background-size: cover;
  background-position: center;
}

#cover-item58 {
  background-image: url("../assets/img/cover/thumb240.webp");
  background-size: cover;
  background-position: center;
}

#cover-item59 {
  background-image: url("../assets/img/cover/thumb256.webp");
  background-size: cover;
  background-position: center;
}

#cover-item60 {
  background-image: url("../assets/img/cover/thumb266.webp");
  background-size: cover;
  background-position: center;
}

#cover-item61 {
  background-image: url("../assets/img/cover/thumb1098.webp");
  background-size: cover;
  background-position: center;
}

#cover-item62 {
  background-image: url("../assets/img/cover/thumb277.webp");
  background-size: cover;
  background-position: center;
}

#cover-item63 {
  background-image: url("../assets/img/cover/thumb287.webp");
  background-size: cover;
  background-position: center;
}

#cover-item64 {
  background-image: url("../assets/img/cover/thumb303.webp");
  background-size: cover;
  background-position: center;
}

#cover-item65 {
  background-image: url("../assets/img/cover/thumb323.webp");
  background-size: cover;
  background-position: center;
}

#cover-item66 {
  background-image: url("../assets/img/cover/thumb324.webp");
  background-size: cover;
  background-position: center;
}

#cover-item67 {
  background-image: url("../assets/img/cover/thumb325.webp");
  background-size: cover;
  background-position: center;
}

#cover-item68 {
  background-image: url("../assets/img/cover/thumb327.webp");
  background-size: cover;
  background-position: center;
}

#cover-item69 {
  background-image: url("../assets/img/cover/thumb340.webp");
  background-size: cover;
  background-position: center;
}

#cover-item70 {
  background-image: url("../assets/img/cover/thumb343.webp");
  background-size: cover;
  background-position: center;
}

#cover-item71 {
  background-image: url("../assets/img/cover/thumb1001.webp");
  background-size: cover;
  background-position: center;
}

#cover-item72 {
  background-image: url("../assets/img/cover/thumb1003.webp");
  background-size: cover;
  background-position: center;
}

#cover-item73 {
  background-image: url("../assets/img/cover/thumb1004.webp");
  background-size: cover;
  background-position: center;
}

#cover-item74 {
  background-image: url("../assets/img/cover/thumb1005.webp");
  background-size: cover;
  background-position: center;
}

#cover-item75 {
  background-image: url("../assets/img/cover/thumb1015.webp");
  background-size: cover;
  background-position: center;
}

#cover-item76 {
  background-image: url("../assets/img/cover/thumb1016.webp");
  background-size: cover;
  background-position: center;
}

#cover-item77 {
  background-image: url("../assets/img/cover/thumb1017.webp");
  background-size: cover;
  background-position: center;
}

#cover-item78 {
  background-image: url("../assets/img/cover/thumb1018.webp");
  background-size: cover;
  background-position: center;
}

#cover-item79 {
  background-image: url("../assets/img/cover/thumb1019.webp");
  background-size: cover;
  background-position: center;
}

#cover-item80 {
  background-image: url("../assets/img/cover/thumb1022.webp");
  background-size: cover;
  background-position: center;
}

#cover-item81 {
  background-image: url("../assets/img/cover/thumb1024.webp");
  background-size: cover;
  background-position: center;
}

#cover-item82 {
  background-image: url("../assets/img/cover/thumb1025.webp");
  background-size: cover;
  background-position: center;
}

#cover-item83 {
  background-image: url("../assets/img/cover/thumb1027.webp");
  background-size: cover;
  background-position: center;
}

#cover-item84 {
  background-image: url("../assets/img/cover/thumb1028.webp");
  background-size: cover;
  background-position: center;
}

#cover-item85 {
  background-image: url("../assets/img/cover/thumb1029.webp");
  background-size: cover;
  background-position: center;
}

#cover-item86 {
  background-image: url("../assets/img/cover/thumb1031.webp");
  background-size: cover;
  background-position: center;
}

#cover-item87 {
  background-image: url("../assets/img/cover/thumb1032.webp");
  background-size: cover;
  background-position: center;
}

#cover-item88 {
  background-image: url("../assets/img/cover/thumb1033.webp");
  background-size: cover;
  background-position: center;
}

#cover-item89 {
  background-image: url("../assets/img/cover/thumb1035.webp");
  background-size: cover;
  background-position: center;
}

#cover-item90 {
  background-image: url("../assets/img/cover/thumb1040.webp");
  background-size: cover;
  background-position: center;
}

#cover-item91 {
  background-image: url("../assets/img/cover/thumb1041.webp");
  background-size: cover;
  background-position: center;
}

#cover-item92 {
  background-image: url("../assets/img/cover/thumb1042.webp");
  background-size: cover;
  background-position: center;
}

#cover-item93 {
  background-image: url("../assets/img/cover/thumb1043.webp");
  background-size: cover;
  background-position: center;
}

#cover-item94 {
  background-image: url("../assets/img/cover/thumb1044.webp");
  background-size: cover;
  background-position: center;
}

#cover-item95 {
  background-image: url("../assets/img/cover/thumb1045.webp");
  background-size: cover;
  background-position: center;
}

#cover-item96 {
  background-image: url("../assets/img/cover/thumb1046.webp");
  background-size: cover;
  background-position: center;
}

#cover-item97 {
  background-image: url("../assets/img/cover/thumb1047.webp");
  background-size: cover;
  background-position: center;
}

#cover-item98 {
  background-image: url("../assets/img/cover/thumb1049.webp");
  background-size: cover;
  background-position: center;
}

#cover-item99 {
  background-image: url("../assets/img/cover/thumb1050.webp");
  background-size: cover;
  background-position: center;
}

#cover-item100 {
  background-image: url("../assets/img/cover/thumb1051.webp");
  background-size: cover;
  background-position: center;
}

#cover-item101 {
  background-image: url("../assets/img/cover/thumb1052.webp");
  background-size: cover;
  background-position: center;
}

#cover-item102 {
  background-image: url("../assets/img/cover/thumb1053.webp");
  background-size: cover;
  background-position: center;
}

#cover-item103 {
  background-image: url("../assets/img/cover/thumb1055.webp");
  background-size: cover;
  background-position: center;
}

#cover-item104 {
  background-image: url("../assets/img/cover/thumb1056.webp");
  background-size: cover;
  background-position: center;
}

#cover-item105 {
  background-image: url("../assets/img/cover/thumb1057.webp");
  background-size: cover;
  background-position: center;
}

#cover-item106 {
  background-image: url("../assets/img/cover/thumb1058.webp");
  background-size: cover;
  background-position: center;
}

#cover-item107 {
  background-image: url("../assets/img/cover/thumb1059.webp");
  background-size: cover;
  background-position: center;
}

#cover-item108 {
  background-image: url("../assets/img/cover/thumb1061.webp");
  background-size: cover;
  background-position: center;
}

#cover-item109 {
  background-image: url("../assets/img/cover/thumb1063.webp");
  background-size: cover;
  background-position: center;
}

#cover-item110 {
  background-image: url("../assets/img/cover/thumb1066.webp");
  background-size: cover;
  background-position: center;
}

#cover-item111 {
  background-image: url("../assets/img/cover/thumb1070.webp");
  background-size: cover;
  background-position: center;
}

#cover-item112 {
  background-image: url("../assets/img/cover/thumb1071.webp");
  background-size: cover;
  background-position: center;
}

#cover-item113 {
  background-image: url("../assets/img/cover/thumb1074.webp");
  background-size: cover;
  background-position: center;
}

#cover-item114 {
  background-image: url("../assets/img/cover/thumb1075.webp");
  background-size: cover;
  background-position: center;
}

#cover-item115 {
  background-image: url("../assets/img/cover/thumb1076.webp");
  background-size: cover;
  background-position: center;
}

#cover-item116 {
  background-image: url("../assets/img/cover/thumb1078.webp");
  background-size: cover;
  background-position: center;
}

#cover-item117 {
  background-image: url("../assets/img/cover/thumb1079.webp");
  background-size: cover;
  background-position: center;
}

#cover-item118 {
  background-image: url("../assets/img/cover/thumb1081.webp");
  background-size: cover;
  background-position: center;
}

#cover-item119 {
  background-image: url("../assets/img/cover/thumb1083.webp");
  background-size: cover;
  background-position: center;
}

#cover-item120 {
  background-image: url("../assets/img/cover/thumb1084.webp");
  background-size: cover;
  background-position: center;
}

#cover-item121 {
  background-image: url("../assets/img/cover/thumb1087.webp");
  background-size: cover;
  background-position: center;
}

#cover-item122 {
  background-image: url("../assets/img/cover/thumb1088.webp");
  background-size: cover;
  background-position: center;
}

#cover-item123 {
  background-image: url("../assets/img/cover/thumb1089.webp");
  background-size: cover;
  background-position: center;
}

#cover-item124 {
  background-image: url("../assets/img/cover/thumb1090.webp");
  background-size: cover;
  background-position: center;
}

#cover-item125 {
  background-image: url("../assets/img/cover/thumb1091.webp");
  background-size: cover;
  background-position: center;
}

#cover-item126 {
  background-image: url("../assets/img/cover/thumb1098.webp");
  background-size: cover;
  background-position: center;
}

#cover-item127 {
  background-image: url("../assets/img/cover/thumb1099.webp");
  background-size: cover;
  background-position: center;
}

#cover-item128 {
  background-image: url("../assets/img/cover/thumb1101.webp");
  background-size: cover;
  background-position: center;
}

#cover-item129 {
  background-image: url("../assets/img/cover/thumb1101.webp");
  background-size: cover;
  background-position: center;
}

#cover-item130 {
  background-image: url("../assets/img/cover/thumb1101.webp");
  background-size: cover;
  background-position: center;
}

#cover-item131 {
  background-image: url("../assets/img/cover/thumb1114.webp");
  background-size: cover;
  background-position: center;
}

#cover-item132 {
  background-image: url("../assets/img/cover/thumb1101.webp");
  background-size: cover;
  background-position: center;
}

#cover-item133 {
  background-image: url("../assets/img/cover/thumb1103.webp");
  background-size: cover;
  background-position: center;
}

#cover-item134 {
  background-image: url("../assets/img/cover/thumb1104.webp");
  background-size: cover;
  background-position: center;
}

#cover-item135 {
  background-image: url("../assets/img/cover/thumb1106.webp");
  background-size: cover;
  background-position: center;
}

.filter {
  filter: grayscale(1) brightness(1) contrast(0.9) !important;
}

/*--------
Responsive
----------*/
footer {
    margin-top: 3rem;
    padding: 0 1rem;
    grid-column: 1 / span 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    font-size: 1rem;
    border-top: 1px solid #ffffff;
    padding-top: 2rem;
}

footer * {
    grid-column: span 1;
}

.logo {
    display: grid;
    grid-template-columns: repeat(2, 65px);
    column-gap: 0.5rem;
}

.logo * {
    grid-column: span 1;
}

.icon {
    vertical-align: bottom;
    padding-bottom: 0.6rem;
}

footer img {
    height: 50px;
    width: auto;
}

footer h1 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
    text-transform: uppercase;
}

footer ul {
    padding: 0;
}

footer li {
    list-style: none;
    margin: 0;
    line-height: 1.5;
    font-family: 'GT America', sans-serif;
}


/*--------
Responsive
----------*/
@media screen and (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }

  .go-to-rabbit {
    grid-column: 1
  }

  .go-to-archive {
    grid-column: 1;
  }
}

#masks {
  background-image: url("../assets/img/masks/bit_mask.webp");
  background-size: cover;
}
