/*--------
Font
----------*/
@font-face {
  font-family: 'Seagal';
  src: url('../webfonts/Seagal-Roman.woff');
}

@font-face {
  font-family: 'Redaction';
  src: url('../webfonts/Redaction-Regular.woff');
}

@font-face {
  font-family: 'Redaction 10';
  src: url('../webfonts/Redaction_10-Regular.woff');
}

@font-face {
  font-family: 'Redaction 50';
  src: url('../webfonts/Redaction_50-Regular.woff');
}

/*--------
Global
----------*/
html {
  width: 100vw;
  color: #ffffff;
  background-color: #000000;
  overflow-x: hidden;
  font-weight: 400;
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
  cursor: crosshair;
  font-family: 'Redaction 10', serif;
  /*--------
  background-image: repeating-linear-gradient(to bottom, transparent, transparent 1.3px, #000000 1.3px, #000000 15px),
                    repeating-linear-gradient(to right, #878787, #878787 1.3px, #000000 1.3px, #000000 15px);
  background-size: 15px 15px, 15px 15px;
  ----------*/
}

::selection {
  color: #000000;
  background: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-family: 'Redaction', serif;
}

a:visited {
  color: #ffffff;
  text-decoration: none;
}

body {
  margin: 0;
}

img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}

img:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  filter: none;
}

h1 {
  font-family: 'Redaction', serif;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

p {
  font-family: 'Redaction', serif;
  font-weight: 400;
}


.redaction:hover {
  font-family: 'Redaction 50', serif;
}

/*--------
Header
----------*/
nav {
  width: 100%;
  height: 8vh;
  position: fixed;
  z-index: 1000;
  background-color: #000000;
  border-bottom: 1px solid #ffffff;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.header {
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 1rem;
}

.home-btn {
  display: grid;
  grid-column: 1;
  border-right: 1px solid #ffffff;
}

.archive-btn {
  display: grid;
  grid-column: 9;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

.about-btn {
  display: grid;
  grid-column: 10;
}

.btn{
  display: grid;
  place-items: center;
}
/*--------
Index
----------*/
.introduction {
  min-height: 100vh;
  place-items: center;
  position: sticky;
  top: 0;
  background-color: #000000;
}

.introduction-content {
  grid-column: 2 / span 8;
}

.introduction-text {
  font-size: 2.8rem;
  text-align: justify;
  text-align-last: center;
}

.go-to-rabbit {
  display: grid;
  grid-column: 2 / span 4;
  grid-template-areas: "overlap";
  border: 1px solid #ffffff;
  width: 60vh;
  height: 60vh;
  font-size: 2.8rem;
}

.keywords {
  width:100%;
  height:100%;
  grid-area: overlap;
  z-index:1;
  display:none;
}

.rabbit {
  display: grid;
  grid-area: overlap;
  text-align: center;
  place-items: center;
}

.go-to-rabbit:hover .keywords {
  display: grid;
}

.keyword {
  display: grid;
  border-bottom: 1px solid #ffffff;
  background-color: #000000;
  justify-content: center;
  place-items: center;
}

.keyword:hover {
  font-family: 'Redaction 50', serif;
}

.go-to-archive {
  display: grid;
  text-align: center;
  place-items: center;
  grid-column: 6 / span 4;
  border: 1px solid #ffffff;
  width: 60vh;
  height: 60vh;
  font-size: 2.8rem;
}

.go-to-archive:hover {
  font-family: 'Redaction 50', serif;
}

/*--------
Tooltip
----------*/
.tooltip {
  position: relative;
  z-index: 10;
}

.tooltip:before,
.tooltip:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.tooltip:before {
  background: #ffffff;
  border: 1px solid #000000;
  color: #000000;
  content: attr(data-title);
  font-size: 1.5rem;
  max-width: 40vw;
  padding: 30px;
}

.tooltip.fade:after,
.tooltip.fade:before {
  transform: translate3d(0, -10px, 0);
  transition: all .15s ease-in-out;
}

.tooltip.fade:hover:after,
.tooltip.fade:hover:before {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

/*--------
Keywords
----------*/

.title {
  min-height: 40vh;
  place-items: center;
  grid-column: 2 / span 8;
  font-size: 5rem;
  text-align: justify;
  text-align-last: center;
}

.title-content {
  grid-column: 2 / span 8;
  text-align: justify;
  text-align-last: center;
  font-size: 5rem;
}

.info-btn {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #000000;
  border: 1px solid #ffffff;
  margin: 2%;
  padding: 1%;
  z-index: 20;
  font-size: 1.5rem;
}
/*- Overlay btn--*/
.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 5000;
  top: 0;
  left: 0;
  background-color: #000000;
  place-items: center;
}

.overlay-content {
  position: relative;
  width: 100%;
  grid-column: 2 / span 8;
  font-size: 2.8rem;
  text-align: justify;
  text-align-last: center;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  font-family: 'Redaction 70', serif;
  border: 1px solid #ffffff;
  padding: 1%;
}

/*- Video--*/
#container {
  display: grid;
  grid-template-areas: "overlap";
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 1rem;
  grid-area: overlap;
  z-index: 5;
}

.videos-container {
  overflow-y: hidden;
  overflow-x: hidden;
}

#canvasLines {
  display: grid;
  grid-area: overlap;
}

video {
  width: 100%;
  object-fit: cover;
}
